<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/styleProducts.css">
        <title>Products</title>
    </head>

    <body>
        <header>
            <ul>
                <li id="home"><a href="../index.html">Suite Store</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="categories.html">Categories</a></li>
                <li><a href="history.html">History</a></li>
            </ul>
        </header>

        <section class="products">
            <form id="productForm" class="addProduct">
                    <input type="text" id="productName" placeholder="Product name">
                    <input type="number" id="amountProduct" placeholder="Amount" step="1" min="1">
                    <input type="number" id="unitPriceProduct" placeholder="Price" step="0.01" min="0.01">
                    <select name="productCategory" id="categoryProduct"></select>
                    <button type="submit" id="addProductButton">Add Product</button>
            </form>

            <div></div>

            <table id="productsTable" class="productTable">
                <tr>
                    <th>Code</th>
                    <th>Product</th>
                    <th>Amount</th>
                    <th>Unit price</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
            </table>
        </section>

        <script src="../scripts/main.js"></script>
        <script src="../scripts/scriptProducts.js"></script>
    </body>
</html>
