
.categories{
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 50%;
    margin: 10px;
}

.categoriesForm{
    width: 66%;
    display: grid;
    column-gap: 10px;
    row-gap: 5px;

    grid-template:
    "categoryName taxPercent"
    "addCategory addCategory";

    grid-template-rows: 30px 40px;

}

#categoryName { grid-area: categoryName; border-radius: 5px;}

#taxPercent { grid-area: taxPercent; border-radius: 5px;}

#addCategory {
    grid-area: addCategory;
    border-radius: 5px;
    background-color: #6a65fe;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
}

.categoriesTable{
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
    margin: 5px;
    text-align: left;
}

.categories > div{
    background-color: #aaaaaa;
    width: 3px;
}
