#home{
    font-size: 24px;
}


.store{
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 50%;
}


.store > div {
    background-color: #aaaaaa;
    width: 3px;
}


.app{
    margin: 10px;
}


.productLeft{
  width: 100%;
  display: grid;
  column-gap: 10px;
  row-gap: 5px;

  grid-template:
  'product product product product'
  'amountCart amountCart taxValue unitPriceCart'
  'addProductButton addProductButton addProductButton addProductButton';
  grid-template-rows: 30px 30px 30px;
}


#sellProduct{
  grid-area: product;
  border-radius: 5px;
}


#amountCart {
  grid-area: amountCart;
  border-radius: 5px;
}


#taxValue {
  grid-area: taxValue;
  border-radius: 5px;
}


#unitPriceCart {
  grid-area: unitPriceCart;
  border-radius: 5px;
}


#addProductButtonCart {
  grid-area: addProductButton;
  background-color: #6a65fe;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
}


.productRight{
    position: relative;
    width: 100%;
    margin: 10px;
}


#shoppingCartBottom {
    display: flex;
    width: 100%;
    right: 0;
    bottom: 0;
    gap: 10px;
    font-weight: bold;
}

#cancel{
    background-color: #aaaaaa;
    width: 100px;
    border-radius: 5px;
    font-weight: bold;
}

#tax, #total{
    border-radius: 5px;
}

#finish{
    border-radius: 5px;
    background-color: #6a65fe;
    width: 100px;
    height: 30px;
    font-weight: bold;
}

#linha{
    background-color: #aaaaaa;
    height: 1px;
}

