:root {
  --bg: #DAD7CD;
  --fg: #344E41;
  --gray: #A3B18A;
  --strong-green: #3A5A40;
  --green: #588157;
}


body {
  background-color: var(--bg)
}


* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}


nav {
    display: flex;
    background-color: var(--strong-green);
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
}


nav > ul {
    gap: 10px;
    list-style-type: none;
    display: flex;
    align-items: center;
}


table {
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
    margin: 5px;
    text-align: left;
    background-color: var(--gray)
}


th, td {
    border: 2px solid var(--strong-green);

    padding: 3px;
}


a:visited, a:hover, a:active, a:link {
    color: var(--bg);
    text-decoration: none;
}

